.education {
    padding: $pd-4 0;
    background-color: $color-gray-1;
    h1 {
        text-align: center;
        text-transform: uppercase;
        @include text($color-black-0, $fs-0 + 30, $fw-bold-0);
        letter-spacing: $ls-1;
        margin-bottom: $mg-1 + 5;
    }
    p{
        @include text($color-black-0, $fs-0, $fw-normal);
        letter-spacing: $ls-1 - 4;
        width: 60%;
        margin: auto;
        text-align: center;
    }
    .education_items {
        position: relative;
        margin-top: $mg-2 + 25;
        .table{
            margin: 0 auto;
            width: 80%
        }
    }
}
