// variable color
$color-black-0: #29303b; // default
$color-white-0: #fff; //default
$color-red-0:#ec5252;
$color-red-1: #521822;
$color-purple: #6e1a52;
$color-gray-1: rgba(20,23,28,.05);
$color-gray-2: #a1a7b3;
$color-gray-3: #cacbcc;
$color-gray-4: #686f7a;
$color-gray-5:#F7F8FA;
$color-gray-6: #7e7e7e;
$color-gray-7: #a9a8a8;
$color-black-light:#505763;
$color-white-cream:#f2f3f5;
$color-black-dark: rgba(20,23,28,.1);
$color-yellow-0: #F4C150;
$color-yellow-1: #d6b161;
$color-orange-0: #fd7e14;
$color-blue:#007791;
$color-brown-0: #c49b66;


// variable font-size
$fs-0: 15px; //default
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 24px;
//Còn 1 font-size: 36px;
$fs-4: 40px;
$fs-5: 60px;

//variable letter-spacing
$ls-1: 5px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 100px; //default for title

//variable line-height
$line-height-0: 1.43; //default


//variable font-weight
$fw-light-200: 200;
$fw-light-300: 300;
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;


//break points
$breakpoints:(
    'extra-large': 1200px,
    'large' : 992px,
    'medium' : 768px,
    'small' : 576px,
);

//box-shadow
$bs-0: 0 10px 25px rgba(0, 0, 0, 0.1);